@import "tailwindcss";
@import "@/styles/theme.css";

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    /* background-color: white; */
    font-family: var(--font-body);
    padding: 1.5rem;
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--color-accent);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent-foreground);
    border-radius: 8px;
}

.bg-custom {
    background: linear-gradient(
        to top,
        var(--color-foreground),
        var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
