@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-background: hsl(20 3% 19%);
    --color-foreground: hsl(43 59% 81%);

    --color-muted: hsl(20 12% 23%);
    --color-muted-foreground: hsl(20 12% 73%);

    --color-popover: hsl(20 3% 16%);
    --color-popover-foreground: hsl(43 59% 91%);

    --color-card: hsl(20 3% 17%);
    --color-card-foreground: hsl(43 59% 86%);

    --color-border: hsl(0 0% 24%);
    --color-input: hsl(0 0% 27%);

    --color-primary: hsl(43 59% 81%);
    --color-primary-foreground: hsl(43 59% 21%);

    --color-secondary: hsl(43 30% 25%);
    --color-secondary-foreground: hsl(43 30% 85%);

    --color-accent: hsl(20 3% 34%);
    --color-accent-foreground: hsl(20 3% 94%);

    --color-destructive: hsl(3 84% 51%);
    --color-destructive-foreground: hsl(0 0% 100%);

    --color-ring: hsl(43 59% 81%);

    --font-title: "Roboto", sans-serif;
    --font-body: "Lato", sans-serif;
    --font-quote: "EB Garamond", serif;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-body);
    padding: 24px;
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--color-accent);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent-foreground);
    border-radius: 8px;
}

.footerLinkAfter::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--color-card-foreground);
    transition: width 0.2s ease-in-out;
    z-index: 500;
}

.footerLinkAfter:hover::after {
    width: 100%;
}

.bg-custom {
    background: linear-gradient(
        to top,
        var(--color-foreground),
        var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
